@charset "UTF-8";

@font-face {
    font-family: "Poppins-Light";
    src: url(../fonts/Poppins-Light.ttf);
    font-display: fallback;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf);
    font-display: fallback;
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins-Medium.ttf);
    font-display: fallback;
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-display: fallback;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf);
    font-display: fallback;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &:focus-visible {
        outline: 0;
    }
}

body {
    font-size: 14px;
    line-height: 1.4;
    color: #000;
    background-color: #fff;
    font-family: 'Poppins-Regular', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrapper {
    overflow: hidden;
    height: 100vh;
    width: 100%;

    @media (max-width: 767px) {
        height: auto;
    }

    .form-warp {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 991px) {
            padding: 50px;
        }

        .header-wrap {
            margin-bottom: 20px;
            text-align: center;

            img {
                margin-bottom: 20px;
                width: 200px;
                height: auto;
            }

            h2 {
                font-size: 18px;
                color: #8B97A9;
            }
        }

        form {
            .input-group {
                .form-control {
                    margin-bottom: 0;
                }

                .input-group-text {
                    cursor: pointer;
                    color: #4D5563;
                    background-color: #ffffff;
                    border: 0;
                    border-radius: 0;
                    border-bottom: 2px solid #DCDCDC;
                }
            }

            .form-control {
                border: 0;
                border-bottom: 2px solid #DCDCDC;
                border-radius: 0;
                height: 50px;

                &:focus {
                    color: #000;
                    background-color: #fff;
                    border-color: #DCDCDC;
                    outline: 0;
                    box-shadow: none;
                }

                &::placeholder {
                    color: #4D5563;
                }

                &:-moz-placeholder {
                    color: #4D5563;
                }

                &::-moz-placeholder {
                    color: #4D5563;
                }

                &:-ms-input-placeholder {
                    color: #4D5563;
                }

                &::-webkit-input-placeholder {
                    color: #4D5563;
                }
            }

            .btn-login {
                background-color: #0a5d94;
                color: #fff;
                border-radius: 4px;
                width: 100%;
                height: 50px;
                margin-top: 20px;
                font-size: 16px;
            }
        }

        .terms-text {
            position: absolute;
            bottom: 0;
            transform: translateX(-50%);
            left: 50%;

            a {
                color: #0a5d94;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .bg-img {
        width: 100%;
        height: 100%;
        background-image: url(../images/login-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -75px;

        @media (max-width: 1399px) {
            background-position: center;
        }

        @media (max-width: 767px) {
            height: 600px;
        }
    }
}